[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "dependencies/BoilingHotWater"]
	path = dependencies/BoilingHotWater
	url = https://github.com/NextLegacy/BoilingHotWater.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = https://github.com/epezent/implot.git
